<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(~{::title},~{::style})">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>창신 교회 청년부 - 회원 가입</title>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader(#{page.saveUser})"/>

    <div id="authForm">
        <div>
            <label for="name" th:text="#{label.user.name}">이름</label>
            <input type="text" id="name" class="form-control" placeholder="실명을 입력하세요">
        </div>
        <div>
            <label for="phoneNumber" th:text="#{label.user.phoneNumber}">휴대폰 번호</label>
            <input type="text" id="phoneNumber" class="form-control" placeholder="숫자만 입력하세요">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button type="button" id="btn-auth" class="w-100 btn btn-primary btn-lg" th:text="#{button.authUser}">청년 인증</button>
            </div>
        </div>

    </div>

    <hr class="my-4">

    <div id="afterAuthForm">
        <div>
            <label for="loginId" th:text="#{label.user.loginId}">아이디</label>
            <input type="text" id="loginId" class="form-control">
        </div>
        <div>
            <label for="password" th:text="#{label.user.password}">비밀번호</label>
            <input type="password" id="password" class="form-control">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button type="button" id="btn-save" class="w-100 btn btn-primary btn-lg" th:text="#{button.saveUser}">회원 가입</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-secondary btn-lg" onclick="location.href='/'" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/user.js"></script>
</body>
</html>
